#content {
    padding-top: 44px;
    display: flex;
    flex-direction: column;

    h3 {
        margin: auto;
        margin-bottom: 18px;
    }
    #form-container {
        margin: auto;
        width: 350px;
    }

    p{
        margin: auto;
        margin-top: 16px;
    }
}