#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    #back-button {
        height: 75px;
        border-radius: 4px 8px;
        position: absolute;
        width: 100px;
        border: 1px solid black;
        margin-left: 2%;
        z-index: 2;
        display: flex;
        
        
        cursor: pointer;
        
        box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
        
        transition-duration: 200ms;
        
        h3 {
            margin: auto;
        }
        
        &:hover {
            background-color: rgb(93, 133, 192);
            color: white;
            border: 1px solid white;
        }
    }
    #general-options {
        width: 50%;
        margin: auto;

        display: flex;
        flex-direction: column;

        #toggle-shadow {
            width: 100%;

            display: flex;
            #more-info {
                position: relative;

                margin: auto;
                margin-left: 4px;
                height: min-content;

                display: flex;
                svg {
                    padding: 8px;
                    height: 30px;
                    width: 30px;

                    opacity: 0.6;
                    
                    border-radius: 50%;

                    transition-duration: 200ms;
                    

                    &:hover {
                        background-color: rgba(153, 153, 153, 0.412);
                    }
                }

                #info-container {
                    width: 500%;
                    border-radius: 4px;
                    position: absolute;

                    transition-duration: 200ms;
                    top: 0;
                    padding: 4px;
                    margin: 4px;
                    box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);

                    left: 100%;
                    
                    pointer-events: none;

                    p{
                        font-size: 16px;
                    }
                    
                }
            }

            #toggle {
                margin: auto;
                margin-right: 8px;

                cursor: pointer;

                height: 30px;
                width: 70px;
                border-radius: 20px;
                border: 1px solid whites;

                transition-duration: 300ms;
                background-color: rgb(255, 0, 34);

                padding: 2px;

                display: flex;

                #circle {
                    margin: auto;
                    aspect-ratio: 1;
                    height: 100%;

                    border-radius: 50%;

                    border: 1px solid black;
                }

            }
            
        }

        #controls {
            border-radius: 8px;
            box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);

            position: relative;

            padding: 8px;
            transition-duration: 300ms !important;


            #change-control {
                position: absolute;

                transition-duration: 300ms !important;

                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                pointer-events: none;
                display: flex;

                p {
                    margin: auto;
                }

            }

            .blur {
                filter: blur(10px);
            }

            .control{
                padding: 8px;
                display: flex;
                flex-direction: row;


                .key{
                    margin: auto;
                    margin-right: 0;

                    border: 1px solid black;
                    border-radius: 4px;
                    padding: 4px;

                    cursor: pointer;

                    transition-duration: 200ms;
                    &:hover{
                        box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);

                    }
                }
            }
        }
    }
}