<div id="container">
    <div *ngIf="!successful" id="before-execution">

        <h1>Please enter a new password.</h1>
        <div id="form-container">
            <app-form 
            [inputsObject]="formInputs"
            (submitForm)="submit($event)"
            ></app-form>
        </div>
        <p>{{error}}</p>
    </div>
    <div *ngIf="successful" id="after-execution">
        <h1>Your password has been successfully updated!</h1>
        <h3>You are now able to <a routerLink="/sign-in" (click)="appService.toggleLoading(true)">sign in</a></h3>

    </div>
    
</div>