#container {
    #before-execution {
        display: flex;
        flex-direction: column;

        h1 {
            margin: auto;
        }
        #form-container {
            width: 300px;
            
            margin: auto;
            margin-top: 16px;
        }
        p {
            margin: auto;
            margin-top: 16px;
        }
    }

    #after-execution {
        display: flex;
        flex-direction: column;
        h1, h3{
            margin: auto;
            text-align: center;
            a {
                border-bottom: 1px solid #7091F5;
                transition-duration: 200ms;
                text-decoration: none;
                color: #7091F5;
                margin: auto;
                margin-top: 16px;
                
                
                &:hover {
                    color: gold;
                    border-bottom: 1px solid gold;
                }
            }
        }
    }
}