<div id="content-container">
    <h2 *ngIf="!resent">Thank you <h2 id="name">{{name}}</h2> for signing up!</h2>
    <h2 *ngIf="resent">Thank you for sticking with us, <h2 id="name">{{name}}</h2>!</h2>

    <p>We have sent you an email to {{email}} to verify your account.</p>
    <a routerLink="/sign-in">SIGN-IN</a>
    <br>
    <div>

        <p>Didn't receive it? </p>
        <p (click)="resendEmail()" id="clickable">Click here to resend.</p>

    </div>
    <p id="error-message">{{errorMessage}}</p>
</div>
